* {
  padding: 0;
  margin: 0;
  font-family: georgia, serif;
  /*border: 1px solid green;*/


}

body {
  background-color:    rgb(64, 54, 54);  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /*font-family: Arial, Helvetica, sans-serif;*/
}
body::-webkit-scrollbar {
  display: none;
}
header {
    background-image: url("Icons/spaceback.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

header h1 {
  color:whitesmoke; 
  margin: 10px;
  padding-top: 75px;
  text-align: center;
}

h2 {
  font-size: 32px;
  padding: 10px;
  margin-left: 50px;
  text-align: left;
}


/* navigation bar */

nav {
  width: 100%;
  height: 40px;
  background-color: rgb(4, 25, 88);
  border-color: black;
  border-width: 0px;
  position: fixed;
  top: 0;
  z-index: 100;/*keeps nav bar infront of objects*/
  padding: 0px;
}
ul {
  margin-left: 60px;
}

ul li {
  list-style: none;
  display: inline-block;
  line-height: 40px;
}
/*anchor*/
ul li a {
  /*border-color: black;
  border-width: 1px;*/
  text-decoration: none;
  font-size: 14px;
  font-family: Verdana black, sans-serif;
  color:rgb(255, 255, 255);
  padding: 14px;
  padding-top: 0px;
}

ul li a:hover {
  color: red;
}
/* navigation bar */

.About{
  height:fit-content;
  border-radius: 25px;
  background-color:  rgb(79, 89, 166);
  margin: 20px;
  text-align: center;
  padding-bottom: 20px;
  width: 97.5%;
}

.About p{
  margin-left: 50px;
  margin-right: 50px;
}

.Jobs{
  height: fit-content;
  border-radius: 25px;
  background-color:  rgb(79, 89, 166);
  margin: 20px;
  padding-bottom: 20px;
  width: 97.5%;
}

.Specific {
  padding: 10px;
  margin: 50px;
  margin-top: 0;
  display: inline-block;
  width: 90%;
}

.Specific h3 {
  display: inline;
  text-align: right;
}



.Skills {
  height: fit-content;
  border-radius: 25px;
  background-color:  rgb(79, 89, 166);
  margin: 20px;
  padding-bottom: 20px;
  display: inline-block;
  width: 97.5%;
}

.Skills img {
  height: 125px;
  width:125px;
  padding: 25px;
}

.Skills figure {
  display: inline-block;
}

.Skills figcaption {
  height: fit-content;
  width: 125px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.Interests {
  height:fit-content;
  width: 97.5%;
  border-radius: 25px;
  background-color:  rgb(79, 89, 166);
  margin: 20px;
  padding-bottom: 20px;
}

.Interests p{
  margin-left: 60px;
  margin-right: 60px;
}

footer {
  height: fit-content;
  width: 100%;
  background-color: rgba(171, 150, 150, 0.564);
}

footer h3 {
  margin-right: 60px;
}

footer a:link {
  color: black;
  color: rgb(49, 59, 239);
}
footer a:visited {
  color:black;
  color: rgb(49, 59, 239);
}

footer a:hover {
  color: red;
}

footer a:active {
  color: red;
}

footer a:link, a:visited {
  text-decoration: none;
}

footer ul li button {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: none;
  cursor: pointer;
  color: rgb(49, 59, 239);
}
footer ul li button:hover {
  color: red;
}


footer ul li {
  list-style-type: none;
  display:list-item;
  line-height: 40px;
}