* {
  padding: 0;
  margin: 0;
  /*border: 1px solid green;*/


}

body {
  background-color:    rgb(64, 54, 54);
}
header {
    background-image: url("spaceback.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

header h1 {
  color:whitesmoke; 
  margin: 10px;
  padding-top: 75px;
  text-align: center;
}

h2 {
  font-size: 32px;
  padding: 10px;
  margin-left: 50px;
  text-align: left;
}


/* navigation bar */

nav {
  width: 100%;
  height: 40px;
  background-color: rgb(4, 25, 88);
  border-color: black;
  border-width: 0px;
  position: fixed;
  top: 0;
  z-index: 100;/*keeps nav bar infront of objects*/
  padding: 0px;
}
ul {
  margin-left: 60px;
}

ul li {
  list-style: none;
  display: inline-block;
  line-height: 40px;
}
/*anchor*/
ul li a {
  /*border-color: black;
  border-width: 1px;*/
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  color:rgb(255, 255, 255);
  padding: 14px;
  padding-top: 0px;
}

ul li a:hover {
  color: red;
}
/* navigation bar */

.Jobs{
  height: fit-content;
  border-radius: 25px;
  background-color:  rgb(79, 89, 166);
  margin: 20px;
}

.Specific {
  padding: 10px;
  margin: 50px;
  margin-top: 0;
  display: inline-block;
  width: 90%;
}

.Specific h3 {
  display: inline;
  text-align: right;
}

.About{
  height:25vh;
  border-radius: 25px;
  background-color:  rgb(79, 89, 166);
  margin: 20px;
  text-align: center;
}

.About p{
  margin-left: 50px;
  margin-right: 50px;
}

.Interests {
  height:25vh;
}

.Skills {
  height: 25vh;
}

footer {
  height: 20vh;
}